<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="morningbean" class="exam1.MorningGreetingImpl">
	</bean>

	<bean id="afternoonbean" class="exam1.AfternoonGreetingImpl">
	</bean>

	<bean id="eveningbean" class="exam1.EveningGreetingImpl">
	</bean>

	<bean id="nightbean" class="exam1.NightGreetingImpl">
	</bean>

	<bean id="localdatetimebean" class="java.time.LocalDateTime" factory-method="now">
	</bean>
</beans>






